@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #;
  --foreground: #;
}

@theme inline {
  --color-background: var(--);
  --color-foreground: var(--);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #;
    --foreground: #;
  }
}

body {
  background: var(--);
  color: var(--); 
  font-family: Arial, Helvetica, sans-serif;
}
/* @import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif;
} */
